@page "/GestionUtilisateurs"
@inherits CovoitEco.APP.Components.CounterBase
@attribute [Authorize]

<PageTitle>GestionUtilisateurs</PageTitle>

<h1>Gestion des utilisateurs</h1>

<p>Uniquement accisble pour un admin</p>
