
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="compteReservation">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Reservations
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="compteAnnonce">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Annonces
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="compteUtilisateur">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Profil
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="compteVehicule">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Vehicules
                </NavLink>
            </li>
        </ul>
    </div>
</nav>