@inherits CovoitEco.APP.Components.Vehicule.VehiculeComponent
@inject IToastService toastService

<div class="container pt-5">
    <div>
        <EditForm Model=@resquestVehiculeProfileFormular OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="VEH_Immatriculation" class="form-label fw-bold fs-5">Immatricualtion</label>
                <InputText @bind-Value="resquestVehiculeProfileFormular.VEH_Immatriculation" class="form-control" />
                <ValidationMessage For="() => resquestVehiculeProfileFormular.VEH_Immatriculation" />
            </div>
            <div class="form-group">
                <label for="VEH_Marque" class="form-label fw-bold fs-5">Marque</label>
                <InputText @bind-Value="resquestVehiculeProfileFormular.VEH_Marque" class="form-control" />
                <ValidationMessage For="() => resquestVehiculeProfileFormular.VEH_Marque" />
            </div>
            <div class="form-group">
                <label for="VEH_Modele" class="form-label fw-bold fs-5">Modèle</label>
                <InputText @bind-Value="resquestVehiculeProfileFormular.VEH_Modele" class="form-control" />
                <ValidationMessage For="() => resquestVehiculeProfileFormular.VEH_Modele" />
            </div>
            <div class="form-group">
                <label for="VEH_Couleur" class="form-label fw-bold fs-5">Couleur</label>
                <InputText @bind-Value="resquestVehiculeProfileFormular.VEH_Couleur" class="form-control" />
                <ValidationMessage For="() => resquestVehiculeProfileFormular.VEH_Couleur" />
            </div>
            <div>
                <div class="form-group">
                    <label for="VEH_NombrePlace" class="form-label fw-bold fs-5">Nombre de place</label>
                    <InputSelect @bind-Value="resquestVehiculeProfileFormular.VEH_NombrePlace">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </InputSelect>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="VEH_NormeEuro" class="form-label fw-bold fs-5">Norme Euro</label>
                    <InputSelect @bind-Value="resquestVehiculeProfileFormular.VEH_NormeEuro">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </InputSelect>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Enregistrer</button>
        </EditForm>
    </div>
</div>

<div class="container pt-5 text-center">
    <a href="/CompteVehicule" class="btn btn-secondary">Retourner à la liste</a>
</div>

@code {
    private void HandleInvalidSubmit()
    {
        toastService.ShowError("Erreur");
    }

    private async void HandleValidSubmit()
    {
        await CreateVehiculeProfile();
        toastService.ShowSuccess("Succès");
    }
}