@page "/CreateUtilisateur"
@using CovoitEco.APP.Views.Utilisateur

<PageTitle>CreateUtilisateur</PageTitle>

<h1>Créer vôtre utilisateur</h1>

<div class="container pt-5">
    <div>
        <CreateUtilisateurProfile />
    </div>
</div>