@using CovoitEco.APP.Components.Annonce
@inherits CovoitEco.APP.Components.Annonce.RechercheAnnonceComponent


@if (responseAnnonce == null)
{
    <div class="container pt-5">
        <div class="spinner-border text-primary"></div>
        <p><em>Loading...</em></p>
    </div>
}
else
{
    <div class="container pt-3">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th scope="col">Localité de départ</th>
                <th scope="col">Localité d'arrivé</th>
                <th scope="col">Statut</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var annonceProfile in responseAnnonce.Lists)
            {
                <tr>
                    <td>@annonceProfile.ANNPR_LocaliteDepart</td>
                    <td>@annonceProfile.ANNPR_LocaliteArrive</td>
                    <td>@annonceProfile.ANNPR_Statut</td>
                    <td class="align-middle">
                        <a @onclick="@(() => UpdateIdAnnonce(annonceProfile.ANNPR_Id))" href="/DetailAnnonce" class="btn btn-primary">Détail</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}